$def with (symbols, selected_symbol, expiration_dates, selected_expiration_date, strike_prices, selected_strike_price)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{font-size:50px}
    </style>
    <script lang="javascript">
        function go() {

        }
    </script>
</head>
    $selected_symbol
    Symbol: $symbols
    Expiration Date:<select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                      <option value="opel">Opel</option>
                      <option value="audi">Audi</option>
                    </select>
    <button value = "go"  style = "height:50px; width:100px; font-size:37px" onclick="go()"> GO </button>

    $expiration_dates
    <br/>
    $selected_expiration_date
    <br/>
    $strike_prices
    <br/>
    $selected_strike_price
</body>
</html>