$def with (symbols, selected_symbol, expiration_dates, selected_expiration_date, strike_prices, selected_strike_price)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {font-size:50px}
        select {height:50px; width:300px; font-size:37px}
        select option { font-size: 30px;   }
    </style>
    <script lang="javascript">
        function init_select(control_id, options_str, selected_option) {
            control = document.getElementById(control_id);
            options = options_str.split(',');
            for(var i in options) {
              control.options[i] = new Option(options[i], options[i]);
            }

            for (var i in options){
                if (options[i] == selected_option) {
                    control.options[i].selected=true;
              }
            }
        }
        function init() {
            init_select("select_symbols", "$symbols", "$selected_symbol");
            init_select("select_expirations", "$expiration_dates", "$selected_expiration_date");
            init_select("select_strike_prices", "$strike_prices", "$selected_strike_price");
        }
        function go() {
            //TODO:according the selected value to calculate the option symbol...
        }
    </script>
</head>

<body onload="init()">
    Symbols: <select id = "select_symbols" ></select>
    <br/>
    Expiration Date:<select id = "select_expirations"></select>
    <br/>
    Strike price:<select id = "select_strike_prices"></select>
    <br/>
    <button value = "go"  style = "height:50px; width:100px; font-size:37px" onclick="go()"> GO </button>

</body>
</html>