$def with (symbols, selected_symbol, expiration_dates, selected_expiration_date, strike_prices, selected_strike_price)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{font-size:50px}
    </style>
    <script lang="javascript">
        function init_select(control_id, options_str, selected_option) {
            control = document.getElementById(control_id);
            options = options_str.split(',');
            for(var i in options) {
              control.options[i] = new Option(options[i], options[i]);
            }

            for (var i in options){
                if (options[i] == selected_option) {
                    options[i].selected=true;
              }
            }
        }
        function init() {
            init_select("select_symbols", "$symbols", "$selected_symbol");
        }
        function go() {
        }
    </script>
</head>

<body onload="init()">
Symbols: <select id = "select_symbols"><option value="1">1</option>></select>
    <br>
    Expiration Date:<select id = "select_expirations">
                    </select>
    <button value = "go"  style = "height:50px; width:100px; font-size:37px" onclick="go()"> GO </button>

    $expiration_dates
    <br/>
    $selected_expiration_date
    <br/>
    $strike_prices
    <br/>
    $selected_strike_price
</body>
</html>