$def with (symbol, records)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{font-size:50px}
    </style>
</head>
<body>
Greeks for $symbol
<br/>
<br/>
<table border="1" cellspacing="0" style = "font-size:30px;">
    <tr>
        <th>date</th>
        <th>lastPrice</th>
        <th>delta</th>
        <th>gamma</th>
        <th>vega</th>
        <th>theta</th>
        <th>rho</th>
    </tr>
    $for record in records:
        <tr>
            $for val in record:
                <td>$val</td>
        </tr>
</table>
<br/>
</body>
</html>