$def with (symbol)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{font-size:50px}
    </style>
    <script lang="javascript">
        function go() {
            symbol = document.getElementById("input_symbol").value
            url = "http://" + window.location.host + "/volatility/" + symbol;
            window.location.href= url
        }
    </script>
</head>
    <!--

select distinct(expirationDate) from option_data where underlingSymbol = 'SPY';

select * from option_data where underlingSymbol = 'SPY' and expirationDate = str_to_date('2017-09-15', '%Y-%m-%d') and strikeprice = 245 and optiontype = 'Call';
    -->
    Symbol: <input type="text" id="input_symbol" name="symbol" size="5" style = "height:50px; font-size:37px" value="$symbol"/>
    <button value = "go"  style = "height:50px; width:100px; font-size:37px" onclick="go()"> GO </button>

    <div id = "div1" >
        <img style="-webkit-user-select: none;" src="/volhvsi/$symbol">
    </div>

    <div id = "div2" >
        <img style="-webkit-user-select: none;" src="/volequity/$symbol">
    </div>

</body>
</html>