<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
    <style>
        body{font-size:50px}
    </style>
</head>
<body>
    <br>
    <li><a href=/optionforgreeks>Greeks</a>
    </li>
    <li><a href=/spyvixhedge>SPY VIX Hedge</a>
    </li>
    <li><a href=/optionsforbacktest>Option Back Test</a>
    </li>
    <li><a href=/processstatus>Process Status</a>
    </li>
    <li><a href=/startdate>Start Date</a>
    </li>
    <li><a href=/others>Others</a>
    </li>
</body>
</html>