$def with (symbols, selected_symbol, expiration_dates, selected_expiration_date, strike_prices, selected_strike_price, option_quantity_str)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {font-size:37px}
        select {height:50px; width:300px; font-size:30px}
        select option { font-size: 23px;   }
    </style>
    <script lang="javascript">
        function init_select(control_id, options_str, selected_option) {
            control = document.getElementById(control_id);
            options = options_str.split(',');
            for(var i in options) {
              control.options[i] = new Option(options[i], options[i]);
            }

            for (var i in options){
                if (options[i] == selected_option) {
                    control.options[i].selected=true;
              }
            }
        }

        function init_hidden_options() {
            option_quantity_str = "$option_quantity_str";
            if (option_quantity_str != null && option_quantity_str != "") {
                hidden_control = document.getElementById('hidden_options');
                hidden_control.value = option_quantity_str;
            }
        }

        function refresh_table_options() {
            var hidden_control = document.getElementById('hidden_options');
            var table_control =  document.getElementById('table_options');
            hidden_control_value = hidden_control.value;
            if (hidden_control_value != null && hidden_control_value != 'undefined') {
                var records = hidden_control_value.split(';');
                var inner_html = '<tr><th>Option Symbol</th><th>Quantity</th><th>Long/Short</th></tr>';
                for (var i in records) {
                    inner_html += '<tr>';
                    var values = records[i].split(',');
                    for (var j in values) {
                        inner_html += '<td>' + values[j] + '</td>';
                    }
                    inner_html += '</tr>';
                }
                table_control.innerHTML = inner_html;
            }
        }

        function init_start_date() {
            var d = new Date();
            d.setMonth(d.getMonth() - 1);
            document.getElementById('input_start_date').valueAsDate = d;
        }

        function init() {
            init_select("select_symbols", "$symbols", "$selected_symbol");
            init_select("select_expirations", "$expiration_dates", "$selected_expiration_date");
            init_select("select_strike_prices", "$strike_prices", "$selected_strike_price");
            init_hidden_options();
            refresh_table_options();
            init_start_date();
        }

        function get_selected_option_value(control_id) {
            control = document.getElementById(control_id);
            selected_value = control.options[control.selectedIndex].text;
            return selected_value;
        }

        function symbol_onchange(){
            symbol = get_selected_option_value("select_symbols");
            hidden_control = document.getElementById('hidden_options');
            url = "http://" + window.location.host + "/optionsforbacktest?symbol=" + symbol
            if (hidden_control.value != null && hidden_control.value != '' && hidden_control.value != 'undefined') {
                url += "&option_quantity_list=" + hidden_control.value;
            }
            window.location.href= url;
        }

        function expiration_onchange(){
            symbol = get_selected_option_value("select_symbols");
            expiration = get_selected_option_value("select_expirations");
            hidden_control = document.getElementById('hidden_options');
            url = "http://" + window.location.host + "/optionsforbacktest?symbol=" + symbol + "&expiration=" + expiration
            if (hidden_control.value != null && hidden_control.value != '' && hidden_control.value != 'undefined') {
                url += "&option_quantity_list=" + hidden_control.value;
            }
            window.location.href= url;
        }

        function PrefixInteger(num, length) {
            return (num/Math.pow(10,length)).toFixed(length).substr(2);
        }

        function get_selected_option() {
            symbol = get_selected_option_value("select_symbols");
            expiration = get_selected_option_value("select_expirations");
            strike_price = get_selected_option_value("select_strike_prices");
            option_type = get_selected_option_value("select_option_types");
            option_symbol = symbol + expiration.replace(/-/g, "").substring(2) + option_type[0] + PrefixInteger(strike_price * 1000, 8);
            option_symbol = option_symbol.replace("^", "")
            return option_symbol;
        }

        function add_option() {
            option_symbol = get_selected_option();
            hidden_control = document.getElementById('hidden_options');
            input_quantity_control = document.getElementById('input_quantity');
            long_or_short = get_selected_option_value('select_long_short');
            record = option_symbol + "," + input_quantity_control.value + "," + long_or_short;
            if (hidden_control.value == null) {
                hidden_control.value = record;
            }
            else {
                hidden_control.value += ";" + record;
            }
            refresh_table_options();
        }

        function back_test() {
            hidden_control = document.getElementById('hidden_options');
            if (hidden_control.value == null) {
                alert('Please add options');
            }
            else {
                start_date = document.getElementById('input_start_date').value;
                url = "http://" + window.location.host + "/optionbacktest?option_quantity_list=" + hidden_control.value + "&start_date=" + start_date;
                window.location.href= url;
            }
        }
    </script>
</head>

<body onload="init()">
    Symbols: <select id = "select_symbols" onchange="symbol_onchange()"></select>
    <br/>
    Expiration Date:<select id = "select_expirations" onchange="expiration_onchange()"></select>
    <br/>
    Strike price:<select id = "select_strike_prices"></select>
    <br/>
    Option type:<select id = "select_option_types">
        <option>Call</option>
        <option>Put</option>
    </select>
    <br/>
    Long/Short:<select id = "select_long_short">
        <option>Long</option>
        <option>Short</option>
    </select>
    <br/>
    Quantity:<input type="text" id="input_quantity"  size="5" style = "height:50px; font-size:37px" value ="1"/>
    <br/>
    <br/>
    <button value = "Add"  style = "height:50px; width:100px; font-size:37px" onclick="add_option()"> Add </button>
    <hidden id = hidden_options></hidden>
    <br/>
    <table id = "table_options" border="1" cellspacing="0" style = "font-size:22px;">
    </table>
    <br/>
    <input id = "input_start_date" type="date" style="height:50px; width:300px; font-size:30px"/>
    <br/>
    <br/>
    <button  style = "height:50px; width:300px; font-size:37px" onclick="back_test()"> Back Test </button>

</body>
</html>