$def with (report)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style  type="text/css">
        body{font-size:25px}

        .my_table tr:nth-child(even) {
            background: #d8ebfa;
        }
        .my_table tr:nth-child(odd) {
            background: White;
        }
    </style>
</head>
<body>

Notice: the vxx start from 2017-08-24
</br>
</br>
<table border="1" cellspacing="0" >

    <tr style = "font-size:18px;">
        <th>date</th>
        <th>VIX Index</th>
        <th>VIX F1-Index</th>
        <th>SPY vol</th>
        <th>SPY price</th>
        <th>SPY option delta</th>
        <th>VIX vol</th>
        <th>VIX F1 price</th>
        <th>VXX option delta</th>
        <th>ratio</th>
    </tr>
    $for record in report:
        <tr>
            $if record[2] > 2:
                $for i in range(len(record)):
                    $if 1 <= i <= 2:
                        <td style="background-color:#CED8F6"><font size="5" color="red">$record[i]</font></td>
                    $elif 3 <= i <= 5:
                        <td style="background-color:#E3F6CE"><font size="5" color="red">$record[i]</font></td>
                    $elif 6 <= i <= 8:
                        <td style="background-color:#CED8F6"><font size="5" color="red">$record[i]</font></td>
                    $else:
                        <td ><font size="5" color="red">$record[i]</font></td>
            $else:
                $for i in range(len(record)):
                    $if 1 <= i <= 2:
                        <td style="background-color:#CED8F6"><font size="5">$record[i]</font></td>
                    $elif 3 <= i <= 5:
                        <td style="background-color:#E3F6CE"><font size="5">$record[i]</font></td>
                    $elif 6 <= i <= 8:
                        <td style="background-color:#CED8F6"><font size="5">$record[i]</font></td>
                    $else:
                        <td ><font size="5">$record[i]</font></td>
        </tr>
</table>

</body>
</html>