<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{font-size:50px}
    </style>
    <script>
        function date_onchange(){
            control = document.getElementById('input_start_date');
            src = "/vixfutures/" + control.value
            //alert(src)
            image = document.getElementById('viximage')
            image.src = src
        }
    </script>
</head>
<body>
    <br/>
    <h2>VIX Historical volatility and Futures</h2>

    <br/>
    Start date:
    <input id = "input_start_date" type="date" style="height:50px; width:300px; font-size:30px" onchange="date_onchange()"/>
    <br/>

    <div id = "div1" >
            <img id = "viximage" style="-webkit-user-select: none;" src="/vixfutures/">
    </div>

    <!--
    <div id = "div2" >
        <img style="-webkit-user-select: none;" src="/equityprices/SPY/63">
    </div>
    <!--
    VIX, VXV, VXMT
    <div id = "div2" >
            <img style="-webkit-user-select: none;" src="/vix3in1">
    </div>
    -->
<br/>
</body>

</html>